.docs-story {
  background-color: var(--ha-S100);
  font-family: var(--ha-font-family);
  font-size: var(--ha-font-size);
  color: var(--ha-S50-contrast);
  > div > div  {
    width: 100%;
  }
}
mark {
  background-color: #dedede;
  color: #414141;
  border-radius: 4px;
  padding: 2px 6px;
}
.hide-controls #storybook-panel-root {
  display: none !important;
}
#storybook-root {
  padding: 0 !important;
  &:not([hidden="true"]) {
    width: 100%;
    height: 100%;
    display:flex;
    #storybook-inner-preview {
      display: flex;
      width: 100%;
    }
  }
}
.sbdocs-content {
 max-width: 100% !important;
}
